@tailwind base;
@tailwind components;
@tailwind utilities;

.cover-title {
  font-family: 'Fraunces', serif;
}

.cover-ui {
  font-family: 'Space Grotesk', sans-serif;
}

@layer components {
  .btn-action {
    @apply py-2 px-3 rounded-lg font-semibold text-xs flex items-center justify-center gap-2 border transition-all active:scale-95;
  }
}

body.generating-pdf {
  overflow: hidden !important;
}
